{% extends 'base.html' %}
<html>
    <head>
        {% block title %}<title>Available Vancancies</title>{% endblock %}
    </head>
    <body>
        <section class="content">
        {% block content %}
            <section class="userInfo" >
                    <h3>{{ job.title }}</h3>
                     {{ job.companyName }}<br>
                    {{ job.location }}<br>
                    <h3>Duties and Responsibilities</h3>
                    {{ job.responsibilities }}<br>
                    <h3>Requirements</h3>
                    {{ job.requirements }}<br>
            </section>
            <p>Back to <a href="/">Home</a></p>
        {% endblock %}
        </section>
    </body>
</html>