{% extends 'base.html' %}
<html>
    <head>
        {% block title %}<title>Available Vancancies</title>{% endblock %}
    </head>
    <body>
        <section class="content">
        {% block content %}
            <section class="userInfo" >
                {% for job in jobs %}
                    <h3><a href="jobInfo/{{job.id}}">{{ job.title }}</a></h3>
                     {{ job.companyName }}<br>
                    {{ job.location }}<br>
                {% endfor %}
            </section>
            <p>Back to <a href="/">Home</a></p>
        {% endblock %}
        </section>
    </body>
</html>